<a href="https://colab.research.google.com/github/MrH101/Data_analytics/blob/main/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Introduction to pandas

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##A series is a one dimensional Array holding any data type

In [3]:
##creating a simple list
import pandas as pd

In [4]:
list_1 = [1,42,73,94,65,46,71,80]
a = pd.Series(list_1)
print (a)

0     1
1    42
2    73
3    94
4    65
5    46
6    71
7    80
dtype: int64

In [5]:
a = pd.Series(list_1,index=['a','b','c','d','e','f','g','h'])
print(a)

a     1
b    42
c    73
d    94
e    65
f    46
g    71
h    80
dtype: int64

In [6]:
print(a['a'])

1

##creating a series from a dictonary

In [7]:
calories = {'day1':420,'day2':380,'day3':390,'day4':600}
var=pd.Series(calories)
print(var)

day1    420
day2    380
day3    390
day4    600
dtype: int64

##Dataframes
####Multi dimensional tables
#### a series is like a column whilst the dataframe is like the whole table
####A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [8]:
dt={'calories':[40,34,56,23,45,23],
    'Duratioon':[21,34,23,21,54,33]
    }
data=pd.DataFrame(dt)
print(data)

   calories  Duratioon
0        40         21
1        34         34
2        56         23
3        23         21
4        45         54
5        23         33

In [9]:
##labels can also be added to dataframes(named indexes)
data=pd.DataFrame(dt,index=['a','b','c','d','e','f'])
print(data)

   calories  Duratioon
a        40         21
b        34         34
c        56         23
d        23         21
e        45         54
f        23         33

In [10]:
dta = {
    'energy':[21,33,54,65,43],
    'day':[1,2,3,4,5]
}
df = pd.DataFrame(dta)
print(df)

   energy  day
0      21    1
1      33    2
2      54    3
3      65    4
4      43    5

##to find a specific row using pandas make use of the 'loc' attribute

In [11]:
print(df.loc[4])

energy    43
day        5
Name: 4, dtype: int64

In [12]:
print(df.loc[[0,3]])

   energy  day
0      21    1
3      65    4

In [13]:
#loc attribute also work here on named indexes 
print(data.loc[['a','f']])

   calories  Duratioon
a        40         21
f        23         33

##reading different data files pandas

In [14]:
#reading csv Files
#use pd.read_csv()
df_0 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv')

In [15]:
#to print entire datablf
print(df_0.to_string)

<bound method DataFrame.to_string of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [16]:
print(df_0)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [17]:
##read json files
#use pd.read_json()
df_1=pd.read_json('/content/drive/MyDrive/Colab Notebooks/data.js')

In [18]:
print(df_1)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [19]:
##reading text
df_2=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv.txt')

In [20]:
print(df_2)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

##data analysis

#using head and tail to get first 5 and last 5 entriees

In [21]:
#you can do it directly without the print method
df_0.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [22]:
#you can use print method as done here
print(df_0.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [23]:
#get ideepth information about the data
print(df_0.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

##data cleaning

In [24]:
#deleting empty cells
new_df=df_0.dropna()
print(new_df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

## cleaning empty cells

In [25]:
df_4 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dirtydata.csv')

In [26]:
#cleaning by removing the empty cells and returning the dataframe without empty cells
new_df = df_4.dropna(inplace = True)
#use inplace = True to replace in the current dataframe

In [27]:
df_5 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dirtydata.csv')

In [28]:
#cleaning by filling in values in the emppty cells
df_n = df_5.fillna(130,inplace=True)

In [29]:
#replacing for specific columns
df_5['Calories'].fillna(130,inplace = True)

##Replace Using Mean, Median, or Mode

In [32]:
#using mean()
df_mean = df_5['Calories'].mean()
df_5['Calories'].fillna(df_mean,inplace=True)

In [33]:
#using median()
df_median = df_5['Calories'].median()
df_5['Calories'].fillna(df_median,inplace = True)

In [ ]:
#using mode()